# Python
*.py[cod]
*.pyo
__pycache__/
*.pyc

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Binaries
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Arnold SDK
arnold

# Build artifacts
display_driver_src/build/
*.vcxproj
*.vcxproj.filters
*.sln
*.cmake
!CMakeLists.txt
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.tlog
*.recipe
*.obj
*.exp
*.lib
Makefile

# Distribution
btoa.zip